body {
  font-family: 'Playfair Display', 'Sans-serif';
}
.menu {
  text-decoration: none;
  margin: 50px;
  display: inline-block;
  text-align: center;
}

.Cards {
  width: 960px;
  margin: auto;
  display: inline-block;
  padding: 60px;
  justify-content: space-between;
}
.article {
  width: 470px;
  display: inline-block;
  text-justify: space-between;
}
.button-main {
  text-align: center;
  margin: 60px;
}
