body {
  font-family: 'Playfair Display', 'Sans-serif';
}
.header-nav {
  display: inline-block;
  text-decoration: none;
  margin: 150px;
}
.Lyfestyle-1 {
  width: 960px;
  margin: 150px;
}
.Photodiary {
  width: 960px;
  margin: 150px;
}
.Lyfestyle-2 {
  width: 960px;
  margin: 150px;
}
.article {
  width: 470px;
  display: inline-block;
}
